<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Login Please!!</h1>
    <form action="/" method="get" onsubmit={submithandler()}>
        <label>
            Add username:
            <input type="text" name="username" id="username">
            <button>Login</button>
        </label>
    </form>
    <script>
        function submithandler(){
          let user=document.getElementById('username').value;
          localStorage.setItem('username', user)
        }
    </script>
</body>
</html>